*{
    background-color: #eff5dcfd;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 50px;
    background-color: #22577E;
    box-shadow: 1px 1px 5px #1a1919;
    position: fixed;
    text-align: center;
    top: 0%;
}
.div_home{
    width: 50%;
    padding-top: 15px;
    margin: auto;
    background-color: #22577E;
}
.div_home ul{
    background-color: #22577E;
    margin: auto;
}
.div_home ul a{
    text-decoration: none;
    background-color: #22577E;
    color: white;
    padding: 10px 40px;
}
.div_home ul a:hover{
    background-color: #5584AC;
}
.contenedor{
    width: 90%;
    height: 80vh;
    margin: 5%;
}

.contenedor_div{
    width: 50%;
    float: left;
}

.div__img{
    width: 50%;
    float:left;
}
.div__img-style{
    width: 70%;
    border-radius: 50%;
    margin-left: 20%;
}

.div_skills{
    width: 90%;
    height: 80vh;
    margin: 5%;
}
.div_skills_hijo{
    width: 25%;
    padding-top: 5%;
    height: 70vh;
    background-color: #95D1CC;
    float: left;
    margin-top: 5%;
}
.div_skills_hijo__2{
    margin-top: 5%;
    width: 50%;
    height: 60vh;
    margin-left: 50%;
    padding-top: 10%;
}
.div_skills_img{
    border-radius: 50%;
    margin-left: 45%;
    
}
.p_skills{
    font-size: 60px;
    font-weight: bold;
    color: #1a1919;
}
.p_skills_hijo{
    margin-top: 5%;
    font-size: 25px;
    color: #3d3d3d;
    font-weight: lighter;
}
.imgIcon{
    width: 10%;
    margin: 3%;
}

.div__p{
    padding: 5%;
    padding-top: 30%;
}

.div__p-saludo{
    font-size: 60px;
    font-weight: bold;
    color: #22577E;
    position: relative;
}
.div__p-saludo_ani{
    position: absolute;
    right: 0%;
    border-left: 3px solid black;
    width: 0%;
    margin-right: 37%;
    animation: maquina 5s infinite alternate steps(16);
}

.div_study{
    width: 90%;
    height: 60vh;
    margin: 5%;
    text-align: center;
}
.div_study_ba{
    background-color: #5584AC;
    box-shadow: 10px 5px 5px rgb(178, 178, 178);
    width: 23%;
    height: 30vh;
    float: left;
    padding-top: 5%;
    margin: 5%;
    border-radius: 5%;
}
.div_study_ba:hover{
    padding-top: 3%;
    border-top: 10px solid #22577E;
    box-shadow: 5px 5px 40px 5px rgb(109, 109, 109);
}
.div_study_se{
    background-color: #5584AC;
    box-shadow: 10px 5px 5px rgb(178, 178, 178);
    width: 23%;
    height: 30vh;
    float: left;
    padding-top: 5%;
    margin: 5%;
    border-radius: 5%;
}
.div_study_se:hover{
    padding-top: 3%;
    border-top: 10px solid #22577E;
    box-shadow: 5px 5px 40px 5px rgb(109, 109, 109);
}
.div_study_ot{
    background-color: #5584AC;
    box-shadow: 10px 5px 5px rgb(178, 178, 178);
    border-radius: 5%;
    width: 23%;
    float: left;
    height: 30vh;
    padding-top: 5%;
    margin: 5%;
}
.div_study_ot:hover{
    padding-top: 3%;
    box-shadow: 5px 5px 40px 5px rgb(109, 109, 109);
    border-top: 10px solid #22577E;
}
.h2_study{
    background-color: #5584AC;
    color: white;
}
.p_study{
    background-color: #5584AC;
    color: white;
    margin: 10%;
    text-align: justify
}
.p_study span{
    background-color: #5584AC;

    font-weight: bold;
}
@keyframes maquina{
    from {
        width: 63%;
    }
    to{
        width: 0;
    }
}
.div__p-intro{
    font-size: 40px;
    font-weight: bold;
}
.div__p-intro2{
    font-size: 25px;
    font-weight: bold;
}
.div__p-exp{
    font-size: 15px;
    margin: 0;
}

@media screen and (max-width: 400px) {
    .div__p-saludo{
        font-size: 80px;
        margin: 0;
        font-weight: bold;
        color: #ce0700;
    }

    .div_study_ba{
        width: 100%;
        margin: 0;
        margin-top: 5%;
    }
    
    .div_study_se{
        width: 100%;
        margin: 0;
        margin-top: 5%;
    }
    
    .div_study_ot{
        width: 100%;
        margin: 0;
        margin-top: 5%;
    }
}