*{
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.contenedor{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 200px;

}

.contenedor_div{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 200px;
}
.div__p{
    float: left;
    width: 40%;
    padding: 5%;
    padding-top: 10%;
}

.div__p-saludo{
    font-size: 25px;
    margin: 0;
    font-weight: bold;
    color: #007bce;
}
.div__p-intro{
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}
.div__p-intro2{
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}
.div__p-exp{
    font-size: 15px;
    margin: 0;
}
.div__img{
    width: 50%;
    float: left;
}
.div__img-style{
    width: 70%;
    border-radius: 50%;
    margin-left: 20%;
}

@media screen and (max-width: 400px) {
    .div__p-saludo{
        font-size: 80px;
        margin: 0;
        font-weight: bold;
        color: #ce0700;
    }
}