*{
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}
.img{
    width: 30%;
    border-radius: 50%;
}
.p__text-saludo{
    font-size: 25px;
    margin: 0;
    font-weight: bold;
    color: #007bce;
}
.p__text-intro{
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}
.p__text-exp{
    font-size: 15px;
    margin: 0;
}